<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TRADUCTOR DE JSHARP A CÓDIGO INTERMEDIO</a>
</nav>

<div class="container col-md-12 mx-auto" style="margin: 5px">

  <div class="row">

    <div class="col-7 col-md-7">
      <div style="margin: 5px">
        <button type="button" class="btn btn-dark" onclick="ejecutarParserJSharp();">Traducir</button>
      </div>

      <div style="margin: 5px">
        INTERPRETE J#
        <textarea id="textareaEditor"></textarea>
      </div>

      <div style="margin: 5px">
        SALIDA....
        <textarea id="textareaConsola"></textarea>
      </div>
    </div>

    <div class="col-5 col-md-5">
      <div style="margin-top: 50px">
        CÓDIGO 3D
        <textarea id="textareaCodigo3D"></textarea>
      </div>
    </div>

  </div>
</div>

<script>
  var editorTxt = CodeMirror.fromTextArea(textareaEditor, {
    lineNumbers: true,
    lineWrapping: true,
    mode : "text/x-rsrc",
    theme: "dracula",
    matchBrackets: true
  });
</script>

<script>
  var salidaTxt = CodeMirror.fromTextArea(textareaConsola, {
    lineNumbers: true,
    lineWrapping: true,
    mode : "text/x-sh",
    theme: "dracula",
    matchBrackets: true
  });
</script>

<script>
  var codido3DTxt = CodeMirror.fromTextArea(textareaCodigo3D, {
    lineNumbers: true,
    lineWrapping: true,
    mode : "text/javascript",
    theme: "dracula",
    matchBrackets: true
  });
</script>