<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="lib/codemirror.js"></script>
<link rel="stylesheet" href="lib/codemirror.css">
<script type="text/javascript" src="mode/clike/clike.js"></script>
<script type="text/javascript" src="mode/r/r.js"></script>
<script type="text/javascript" src="mode/shell/shell.js"></script>
<script type="text/javascript" src="mode/javascript/javascript.js"></script>


<script src="mode/javascript/javascript.js"></script>

<link rel="stylesheet" href="theme/base16-dark.css">
<link rel="stylesheet" href="theme/dracula.css">
<link rel="stylesheet" href="theme/3024-night.css">
<link rel="stylesheet" href="theme/darcula.css">



<script src="analizadorJSharp/analizarJSharp.js"></script>
<script src="analizadorJSharp/Traducir.js"></script>
<script src="analizadorJSharp/ast/ArbolST.js"></script>
<script src="analizadorJSharp/ast/ErrorAst.js"></script>
<script src="analizadorJSharp/ast/Singleton.js"></script>
<script src="analizadorJSharp/gramaticaJSharp/parserJSharp.js"></script>

<script src="analizadorJSharp/ast/entorno/Entorno.js"></script>
<script src="analizadorJSharp/ast/entorno/Entorno3D.js"></script>
<script src="analizadorJSharp/ast/entorno/Simbolo.js"></script>
<script src="analizadorJSharp/ast/entorno/FuncionSim.js"></script>

<script src="analizadorJSharp/ast/expresiones/Primitivo.js"></script>
<script src="analizadorJSharp/ast/expresiones/Identificador.js"></script>
<script src="analizadorJSharp/ast/expresiones/LlamadaFun.js"></script>

<script src="analizadorJSharp/ast/operaciones/Aritmetica.js"></script>
<script src="analizadorJSharp/ast/operaciones/Logica.js"></script>
<script src="analizadorJSharp/ast/operaciones/Relacional.js"></script>
<script src="analizadorJSharp/ast/operaciones/Decremento.js"></script>
<script src="analizadorJSharp/ast/operaciones/Incremento.js"></script>

<script src="analizadorJSharp/ast/instrucciones/Declaracion.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Declaracion2.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Asignacion.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Funcion.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Break.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Continue.js"></script>
<script src="analizadorJSharp/ast/instrucciones/For.js"></script>
<script src="analizadorJSharp/ast/instrucciones/If.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Return.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Switch.js"></script>
<script src="analizadorJSharp/ast/instrucciones/While.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Imprimir.js"></script>
<script src="analizadorJSharp/ast/instrucciones/Estructura.js"></script>

<script type="text/javascript">
    var config, editor;

    config = {
        lineNumbers: true,
        mode : "xml",
    htmlMode: true,
        theme: "ambiance",
   
    };
</script>


<title>JSHARP</title>