<!DOCTYPE html>
<html lang="en">
    <style type="text/css">
        body { background: #D5D8DC !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
     </style>    

    <head>
        <%- include('head'); -%>
    </head>

    <body>
        <%- include('editor'); -%>
    </body>
    
</html>